<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">
  {% include head.html %}
  <body>
    <div class="wrap">
      <header class="header-wrapper">
        {% include header.html %}
      </header>
      <main class="section-wrapper" aria-label="Content">
        <section class="section-wrapper__section section-wrapper__section--event scrollme" data-hash="o-evento" id="o-evento">
          {% include event.html %}
        </section>
        <section class="section-wrapper__section section-wrapper__section--speakers scrollme" data-hash="palestrantes" id="palestrantes">
          {% include speakers.html %}
        </section>
        <section class="section-wrapper__section section-wrapper__section--schedule scrollme" data-hash="programacao" id="programacao">
          {% include schedule.html %}
        </section>
        <section class="section-wrapper__section section-wrapper__section--contact scrollme" data-hash="contato" id="contato">
          {% include contact.html %}
        </section>
      </main>
    </div>
    {% include footer.html %}
  </body>
</html>
