<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <meta property="og:locale" content="pt_BR">
  <meta property="og:url" content="http://colabora.design">
  <meta property="og:title" content="Colabora! - Design, Pessoas e Experiências">
  <meta property="og:site_name" content="Colabora!">
  <meta property="og:description" content="Colabora! e ganha o mundo, sendo aberto como parte dos eventos que acontecerão no Bairro do Recife como parte do Rec’n’Play.  Num diálogo direto com a sociedade, o evento trata da cidade, das lutas sociais, aplicações eletrônicas para produção de novos significados e outras discussões de forma crítica, ativa e, esperamos, divertida.">
  <meta property="og:image" content="http://colabora.design/assets/images/colabora-fb.jpg">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:type" content="website">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asap:400,400i,500i,700">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

  <script src="{{ "/assets/js/vendor/jquery.min.js" | relative_url }}"></script>
  <script src="https://use.fontawesome.com/b484fad23b.js"></script>

  {% feed_meta %}
</head>
