<div class="schedule-elements-1 animateme" data-when="view" data-from="0.6" data-to="0.4" data-scale="0">
    {% include assets/schedule-elements-1.svg %}
</div>
<div class="schedule-elements-2 animateme" data-when="view" data-from="0.8" data-to="0.6" data-scale="0">
    {% include assets/schedule-elements-2.svg %}
</div>
<div class="face-3 animateme" data-when="view" data-from="0.4" data-to="0" data-scale="0" data-rotatez="270" data-translatex="1200" data-tilt></div>

<h2 class="animateme" data-when="view" data-from="0.2" data-to="0" data-translatex="-1200">Programação</h2>
<div class="hr-box animateme" data-when="view" data-from="0.25" data-to="0" data-translatex="-1500"></div>
<nav class="animateme" data-when="view" data-from="0.3" data-to="0" data-translatex="-1800">
    <a href="#o-evento">O Evento</a>
    <a href="#palestrantes">Palestrantes</a>
    <a href="#contato">Contato</a>
</nav>

<div class="day day--30 animateme" data-when="view" data-from="0.35" data-to="0" data-translatex="-1200">
    <h3>Quinta 30/11</h3>
    <ul>
        <li data-tilt data-tilt-scale="0.85">
            <h4>MESA Cidade e Futuro!</h4>
            <p>
                Quem?<br>
                - Playtown (Mabuse) + Associação dos Moradores das Graças (Isabela Faria) + ARIES ( André Arruda-Zaca )<br>
                <br>
                Onde?<br> 
                - Auditório Tiradentes<br>
                <br>
                Que horas? <br>
                - 14:00 h
            </p>
        </li>
        <li data-tilt data-tilt-scale="0.85">
            <h4>TALK Interusabilidade e design de produtos conectado</h4>
            <p>
                Quem? <br>
                - Daniel Pereira (cesar)<br>
                <br>
                Onde? <br>
                - Auditório Tiradentes<br>
                <br>
                Que horas?<br>
                - 17:30 h
            </p>
        </li>
    </ul>
</div>

<div class="day day--01 animateme" data-when="view" data-from="0.5" data-to="0.2" data-translatex="1200">
    <h3>Sexta 01/12</h3>
    <ul>
        <li data-tilt data-tilt-scale="0.85">
            <h4>TALK Desenvolvimento de Jogos em Ambiente de Aprendizagem | Case NAVE</h4>
            <p>
                Quem?<br>
                - Luiz Araújo<br>
                <br>
                Onde?<br> 
                - Auditório Tiradentes<br>
                <br>
                Que horas? <br>
                - 10:00 h
            </p>
        </li>
        <li data-tilt data-tilt-scale="0.85">
            <h4>WORKSHOP Programação para não programadores (conceitos básicos de programação)</h4>
            <p>
                Quem?<br>
                - Maurício Taumaturgo<br>
                <br>
                Onde?<br> 
                - CESAR Tiradentes<br>
                <br>
                Que horas? <br>
                - 14:00 h
            </p>
        </li>
        <li data-tilt data-tilt-scale="0.85">
            <h4>WORKSHOP Pesquisa de Campo de Guerrilha</h4>
            <p>
                Quem?<br>
                - H.d. Mabuse e Gabriel Lins<br>
                <br>
                Onde?<br> 
                - CESAR Tiradentes<br>
                <br>
                Que horas? <br>
                - 14:00 h
            </p>
        </li>
        <li data-tilt data-tilt-scale="0.85">
            <h4>WORKSHOP Prototipação com Realidade virtual</h4>
            <p>
                Quem?<br>
                - Bruno Lima<br>
                <br>
                Onde?<br> 
                - Auditório Tiradentes<br>
                <br>
                Que horas? <br>
                - 14:00 h
            </p>
        </li>
        <li data-tilt data-tilt-scale="0.85">
            <h4>MESA Educação: O Ensino Transformador do Design (ensino X mercado de trabalho)</h4>
            <p>
                Quem?<br>
                - Mediador: Mabuse, Convidados: Leo Castillo ( UFPE ) + Rosangela Viera ( UFPE caruaru ) + Eliana Melo (IFPE)<br>
                <br>
                Onde?<br> 
                - Auditório Tiradentes<br>
                <br>
                Que horas? <br>
                - 16:30 h
            </p>
        </li>
        <li data-tilt data-tilt-scale="0.85">
            <h4>Desafios em 16 semanas: usando design de serviço para validar e criar canais de comunicação</h4>
            <p>
                Quem?<br>
                - Willian Grillo<br>
                Onde?<br> 
                - CESAR Tiradentes<br>
                <br>
                Que horas? <br>
                - 19:00 h
            </p>
        </li>
        <li data-tilt data-tilt-scale="0.85">
            <h4>TALK  As Dores do Crescimento: Criando e escalando o time de Produtos numa Startup Voando</h4>
            <p>
                Quem?<br>
                - Eduardo Rocha -Inloco Media<br>
                <br>
                Onde?<br> 
                - Auditório Tiradentes<br>
                <br>
                Que horas? <br>
                - 19:30 h
            </p>
        </li>  
    </ul>
</div>

<div class="day day--02 animateme" data-when="view" data-from="0.7" data-to="0.4" data-translatex="-1200">
    <h3>Sábado 02/12</h3>
    <ul>
        <li data-tilt data-tilt-scale="0.85">
            <h4>WORKSHOP Narrativas Ilustradas (Construindo imagens e produzindo histórias)</h4>
            <p>
                Quem?<br>
                - Stuart Marcelo<br>
                <br>
                Onde?<br> 
                - Auditório Tiradentes<br>
                <br>
                Que horas? <br>
                - 14:00 h
            </p>
        </li>
        <li data-tilt data-tilt-scale="0.85">
            <h4>WORKSHOP  Prototipação com propósito: técnicas para acertar rápido</h4>
            <p>
                Quem?<br>
                - Erika Campos, Giselle Rossi e Renata Souza<br>
                <br>
                Onde?<br> 
                - CESAR Tiradentes<br>
                <br>
                Que horas? <br>
                - 14:00 h
            </p>
        </li>
        <li data-tilt data-tilt-scale="0.85">
            <h4>MESA Wearables X Acessibilidade</h4>
            <p>
                Quem?<br>
                - Mediador: Marcello Bressan, Convidados: Victor Hazin + Felipe Freitas <br>
                <br>
                Onde?<br> 
                - Auditório Tiradentes<br>
                <br>
                Que horas? <br>
                - 16:30 h
            </p>
        </li>
        <li data-tilt data-tilt-scale="0.85">
            <h4>MESA O Redesign da Sociedade é Possível? (Impacto que as ações de design causam na sociedade)</h4>
            <p>
                Quem?<br>
                - Mediador: Andrea Santos, Convidados: Arthur Braga (coletivo Ceça) + Karina Zapata + Coletivo Deixa Ela em Paz<br>
                <br>
                Onde?<br> 
                - Auditório Tiradentes<br>
                <br>
                Que horas? <br>
                - 19:00 h
            </p>
        </li>
    </ul>
</div>