.section-wrapper__section--event {
  h2 {
    font-size: vwCalc(72);
    font-weight: 700;
    text-transform: uppercase;
    color: $event-color-section;
    position: absolute;
    right: vwCalc(180);
    top: vwCalc(79);
    margin: 0;
  }
  .hr-box {
    width: vwCalc(442);
    height: vwCalc(4);
    position: absolute;
    right: vwCalc(105);
    top: vwCalc(158);
    background: $event-color-section;
  }
  nav {
    position: absolute;
    right: vwCalc(141);
    top: vwCalc(181);
    a {
      font-size: vwCalc(24);
      font-weight: 700;
      text-transform: uppercase;
      color: $event-color-section-alt;
      text-decoration: none;
      margin: 0 vwCalc(12);
      &:first-child {
        margin: 0 vwCalc(12) 0 0;
      }
      &:last-child {
        margin: 0 0 0 vwCalc(12);
      }
    }
  }
  .text-box-1 {
    width: vwCalc(401);
    height: vwCalc(298);
    position: absolute;
    left: vwCalc(302);
    top: vwCalc(273);
    box-sizing: border-box;
    padding: vwCalc(25) vwCalc(40);
    background: #fff;
    p {
      font-size: vwCalc(24);
      font-weight: 700;
      line-height: 1.05;
      color: $event-color-section-alt;
      margin: 0;
    }
  }
  .text-box-2 {
    width: vwCalc(558);
    height: vwCalc(285);
    position: absolute;
    left: vwCalc(302);
    top: vwCalc(633);
    box-sizing: border-box;
    padding: vwCalc(25) vwCalc(40);
    background: #fff;
    p {
      font-size: vwCalc(24);
      font-weight: 400;
      line-height: 1.1;
      color: $event-color-section;
      font-style: italic;
      margin: 0;
    }
  }
}

.event-elements-1 {
  width: vwCalc(1004);
  height: vwCalc(679);
  position: absolute;
  left: vwCalc(79);
  top: vwCalc(273);
}

.event-elements-2 {
  width: vwCalc(653);
  height: vwCalc(1004);
  position: absolute;
  left: vwCalc(1110);
  top: vwCalc(274);
}

.event-tree {
  width: vwCalc(301);
  height: vwCalc(968);
  position: absolute;
  left: vwCalc(833);
  top: vwCalc(0);
}