body {
  @include asap();
}

svg {
  width: 100%;
  height: 100%;
}

.wrap {
  max-width: 100vw;
  position: relative;
  overflow: hidden;
}

.section-wrapper {
  position: relative;
  z-index: 1;

  .section-wrapper__section {
    min-height: 100vh;
    position: relative;
    &.section-wrapper__section--event {
      background: $event-bg;
      min-height: vwCalc(1024);
      z-index: 4;
    }
    &.section-wrapper__section--speakers {
      background: $speakers-bg;
      // min-height: vwCalc(2048);
      z-index: 3;
    }
    &.section-wrapper__section--schedule {
      background: $schedule-bg;
      min-height: vwCalc(2048);
      z-index: 2;
    }
    &.section-wrapper__section--contact {
      background: $contact-bg;
      min-height: vwCalc(1024);
    }
  }
}