.header-wrapper {
  height: vwCalc(1024);
  min-height: 100vh;
  position: relative;
  background: $header-bg;
  z-index: 5;
}

.brand {
  width: vwCalc(230);
  height: vwCalc(231);
  position: absolute;
  left: vwCalc(725);
  bottom: vwCalc(700);
  display: block;
  margin: 0;
  text-indent: -999em;
  background: url(../images/brand.png) 0 0 / cover;
  z-index: 1;
  transform-origin: 0 0;
  animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1s 1 both scale-generic;
}

.header-nav {
  
  .header-nav__section {
    font-size: vwCalc(24);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    z-index: 2;
    &.header-nav__section--event {
      color: $event-color;
      bottom: vwCalc(539);
      left: vwCalc(697);
      transform-origin: 100% 100%;
      animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 2s 1 both scale-generic;
    }
    &.header-nav__section--speakers {
      color: $speakers-color;
      bottom: vwCalc(426);
      left: vwCalc(895);
      transform-origin: 0% 100%;
      animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 2.1s 1 both scale-generic;
    }
    &.header-nav__section--schedule {
      color: $schedule-color;
      bottom: vwCalc(229);
      left: vwCalc(600);
      transform-origin: 100% 100%;
      animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 2.2s 1 both scale-generic;
    }
    &.header-nav__section--contact {
      color: $contact-color;
      bottom: vwCalc(203);
      left: vwCalc(895);
      transform-origin: 0% 100%;
      animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 2.3s 1 both scale-generic;
    }
  }
}

.header-elements-1 {
  width: vwCalc(206);
  height: vwCalc(128);
  position: absolute;
  left: vwCalc(356);
  top: vwCalc(28);
  #Fill-69-Copy{
    transform-origin: 0% 50%;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1s 1 both scale-generic;
  }
  #Fill-73-Copy{
    transform-origin: 0% 50%;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1.2s 1 both scale-generic;
  }
  #Fill-77-Copy {
    transform-origin: 0% 50%;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1.4s 1 both scale-generic;
  }
  #Fill-71-Copy{
    transform-origin: 0% 50%;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1.1s 1 both scale-generic;
  }
  #Fill-75-Copy{
    transform-origin: 0% 50%;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1.3s 1 both scale-generic;
  }
  #Fill-79-Copy {
    transform-origin: 0% 50%;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1.5s 1 both scale-generic;
  }
  
}
.header-elements-2 {
  width: vwCalc(106);
  height: vwCalc(248);
  position: absolute;
  left: vwCalc(146);
  top: vwCalc(75);
  animation: 1s cubic-bezier(0.215, 0.61, 0.355, 1) 1s 1 both translate-to-top-generic;
  #Fill-1{
    transform-origin: center center;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1.3s 1 both scale-generic;
  }
  #Fill-4 {
    transform-origin: center center;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1.5s 1 both scale-generic;
  }
}
.header-elements-3 {
  width: vwCalc(68);
  height: vwCalc(160);
  position: absolute;
  left: vwCalc(260);
  top: vwCalc(200);
  animation: 1s cubic-bezier(0.215, 0.61, 0.355, 1) 1.2s 1 both translate-to-bottom-generic;
  #Fill-1{
    transform-origin: center center;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1.3s 1 both scale-generic;
  }
  #Fill-4 {
    transform-origin: center center;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1.5s 1 both scale-generic;
  }
}
.header-elements-4 {
  width: vwCalc(444);
  height: vwCalc(358);
  position: absolute;
  right: vwCalc(42);
  top: vwCalc(-66);
  animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1.5s 1 both translate-to-right-with-opacity-generic;
  #Stroke-1,
  #Stroke-5,
  #Stroke-9,
  #Stroke-13,
  #Stroke-19,
  #Stroke-23 {
    transform-origin: 0% 50%;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1.4s 1 both scale-generic;
  }
  #Stroke-3,
  #Stroke-7,
  #Stroke-11,
  #Stroke-15,
  #Stroke-17,
  #Stroke-21 {
    transform-origin: 100% 50%;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1.4s 1 both scale-generic;
  }
}
.header-elements-5 {
  width: vwCalc(648);
  height: vwCalc(330);
  position: absolute;
  left: vwCalc(-15);
  bottom: vwCalc(0);
  animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1.8s 1 both translate-to-top-with-opacity-generic;
}

.home-tree {
  width: vwCalc(180);
  height: vwCalc(752);
  position: absolute;
  left: vwCalc(755);
  bottom: vwCalc(-18);
  #Fill-11 {
    transform-origin: center bottom;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1s 1 both scale-generic;
  }
  // galahos
  #Fill-15-Copy {
    transform-origin: center bottom;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1.1s 1 both scale-generic;
  }
  #Fill-17-Copy {
    transform-origin: center bottom;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1.2s 1 both scale-generic;
  }
  #Fill-17 {
    transform-origin: center bottom;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1.3s 1 both scale-generic;
  }
  #Fill-17-Copy-2 {
    transform-origin: center bottom;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1.4s 1 both scale-generic;
  }
  #Fill-15 {
    transform-origin: center bottom;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1.5s 1 both scale-generic;
  }
  #Fill-17-2 {
    transform-origin: center bottom;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1.6s 1 both scale-generic;
  }
  // folhas
  #Fill-1-Copy {
    transform-origin: 50% 20%;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1.7s 1 both scale-generic;
  }
  #Fill-6-Copy {
    transform-origin: 55% 35%;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1.8s 1 both scale-generic;
  }
  #Group-5-Copy #Fill-3 {
    transform-origin: 30% 7%;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1.9s 1 both scale-generic;
  }
  #Fill-19-Copy {
    transform-origin: 55% 70%;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 2s 1 both scale-generic;
  }
  #Fill-19-Copy-2 {
    transform-origin: 45% 75%;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 2.1s 1 both scale-generic;
  }
  #Group-5 #Fill-3,
  #Group-10 #Fill-8 {
    transform-origin: 25% 5%;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 2.2s 1 both scale-generic;
  }
  #Fill-1 {
    transform-origin: 45% 95%;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 2.3s 1 both scale-generic;
  }
  #Fill-19,
  #Fill-6 {
    transform-origin: 55% 90%;
    animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 2.4s 1 both scale-generic;
  }

}
.home-tree-after {
  width: vwCalc(172);
  height: vwCalc(160);
  position: absolute;
  left: vwCalc(940);
  bottom: vwCalc(727);
  transform-origin: 0 50%;
  animation: .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1.4s 1 both scale-generic;
}

.face-1 {
  width: vwCalc(282);
  height: vwCalc(394);
  position: absolute;
  left: 0;
  bottom: vwCalc(-220);
  z-index: 1;
  transform-origin: 50% 50%;
  animation: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.7s 1 backwards translate-to-top-with-opacity-generic;
  #Fill-15 {
    animation: 6s cubic-bezier(0.215, 0.61, 0.355, 1) 2.5s infinite both translate-face-1-eyes;
  }
  #Fill-17 {
    animation: 6s cubic-bezier(0.215, 0.61, 0.355, 1) 2.5s infinite translate-face-1-eyes, 6s cubic-bezier(0.215, 0.61, 0.355, 1) 2.5s infinite translate-face-1-eyes-2;
  }
}
.face-2 {
  width: vwCalc(306);
  height: vwCalc(470);
  position: absolute;
  right: vwCalc(-50);
  bottom: vwCalc(-55);
  z-index: 1;
  transform-origin: 50% 50%;
  animation: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.5s 1 backwards translate-to-top-with-opacity-generic,  6s cubic-bezier(0.215, 0.61, 0.355, 1) 2.5s infinite translate-face-2;
  #Fill-49,
  #Fill-31 {
    animation: 6s cubic-bezier(0.215, 0.61, 0.355, 1) 2.5s infinite both translate-face-2-eyes;
  }
}