.speakers-elements-1 {
  width: vwCalc(428);
  height: vwCalc(686);
  position: absolute;
  left: vwCalc(-100);
  top: vwCalc(43);
}
.speakers-elements-2 {
  width: vwCalc(1353);
  height: vwCalc(558);
  position: absolute;
  left: vwCalc(542);
  top: vwCalc(1617);
}
.speakers-elements-3 {
  width: vwCalc(401);
  height: vwCalc(255);
  position: absolute;
  left: vwCalc(-38);
  bottom: vwCalc(-76);
}
.speakers-elements-4 {
  width: vwCalc(198);
  height: vwCalc(351);
  position: absolute;
  right: vwCalc(-40);
  bottom: vwCalc(-124);
}

.section-wrapper__section--speakers {
  h2 {
    font-size: vwCalc(72);
    font-weight: 700;
    text-transform: uppercase;
    color: $speakers-color-section;
    position: absolute;
    left: vwCalc(459);
    top: vwCalc(43);
    margin: 0;
  }
  .hr-box {
    width: vwCalc(1065);
    height: vwCalc(4);
    position: absolute;
    left: vwCalc(-110);
    top: vwCalc(122);
    background: $speakers-color-section;
  }
  nav {
    position: absolute;
    left: vwCalc(468);
    top: vwCalc(146);
    a {
      font-size: vwCalc(24);
      font-weight: 700;
      text-transform: uppercase;
      color: $speakers-color-section-alt;
      text-decoration: none;
      margin: 0 vwCalc(12);
      &:first-child {
        margin: 0 vwCalc(12) 0 0;
      }
      &:last-child {
        margin: 0 0 0 vwCalc(12);
      }
    }
  }
}

.speakers-list {
  margin: 0;
  padding: 0;
  list-style: none;

  .speaker {
    width: vwCalc(417);
    height: vwCalc(347);
    position: absolute;
    text-align: center;
    &.speaker--1 {
      left: vwCalc(180);
      top: vwCalc(270);
    }
    &.speaker--2 {
      left: vwCalc(680);
      top: vwCalc(213);
    }
    &.speaker--3 {
      left: vwCalc(1097);
      top: vwCalc(312);
    }
    &.speaker--4 {
      left: vwCalc(423);
      top: vwCalc(570);
    }
    &.speaker--5 {
      left: vwCalc(857);
      top: vwCalc(686);
    }
    &.speaker--6 {
      left: vwCalc(120);
      top: vwCalc(882);
    }
    &.speaker--7 {
      left: vwCalc(557);
      top: vwCalc(985);
    }
    &.speaker--8 {
      left: vwCalc(1039);
      top: vwCalc(1085);
    }
    &.speaker--9 {
      left: vwCalc(216);
      top: vwCalc(1287);
    }
    &.speaker--10 {
      left: vwCalc(738);
      top: vwCalc(1292);
    }
    &.speaker--11 {
      left: vwCalc(393);
      top: vwCalc(1617);
    }
    &.speaker--12 {
      left: vwCalc(1077);
      top: vwCalc(1557);
    }
    &.speaker--13 {
      left: vwCalc(180);
      top: vwCalc(1918);
    }
    &.speaker--14 {
      left: vwCalc(680);
      top: vwCalc(1861);
    }
    &.speaker--15 {
      left: vwCalc(1097);
      top: vwCalc(1960);
    }
    &.speaker--16 {
      left: vwCalc(423);
      top: vwCalc(2218);
    }
    &.speaker--17 {
      left: vwCalc(857);
      top: vwCalc(2334);
    }
    &.speaker--18 {
      left: vwCalc(120);
      top: vwCalc(2530);
    }
    &.speaker--19 {
      left: vwCalc(557);
      top: vwCalc(2633);
    }
    &.speaker--20 {
      left: vwCalc(1039);
      top: vwCalc(2733);
    }
    &.speaker--21 {
      left: vwCalc(216);
      top: vwCalc(2935);
    }
    &.speaker--22 {
      left: vwCalc(738);
      top: vwCalc(2940);
    }
    &.speaker--23 {
      left: vwCalc(393);
      top: vwCalc(3265);
    }

    .speaker-tree-right {
      width: vwCalc(140);
      height: vwCalc(130);
      position: absolute;
      left: vwCalc(287);
      top: vwCalc(94);
    }
    .speaker-tree-left {
      width: vwCalc(140);
      height: vwCalc(130);
      position: absolute;
      left: vwCalc(0);
      top: vwCalc(74);
    }
    .speaker-eyelashes {
      width: vwCalc(198);
      height: vwCalc(129);
      position: absolute;
      left: vwCalc(108);
      top: vwCalc(0);
    }

    .speaker-avatar {
      width: vwCalc(187);
      height: vwCalc(187);
      margin: 0;
      padding: 0;
      position: absolute;
      left: vwCalc(114);
      top: vwCalc(60);
      border: 11px solid $speaker-color-bg;
      border-radius: vwCalc(187);
      background-size: cover;
    }

    .speaker-name {
      width: vwCalc(242);
      font-size: vwCalc(24);
      text-transform: uppercase;
      text-align: center;
      box-sizing: border-box;
      padding: 10px;
      margin: 0;
      display: inline-block;
      color: $speakers-color-section-alt;
      background: $speaker-color-bg;
      border-radius: vwCalc(10);
      position: absolute;
      left: vwCalc(90);
      top: vwCalc(237);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .speaker-title {
      width: vwCalc(200);
      font-size: vwCalc(24);
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      box-sizing: border-box;
      padding: 10px;
      margin: 0;
      display: inline-block;
      color: $contact-bg;
      background: $speaker-color-bg;
      border-radius: vwCalc(10);
      position: absolute;
      left: vwCalc(109);
      top: vwCalc(290);
    }
  }
}