$header-bg: #28387F;
$event-bg: #F4DB8E;
$speakers-bg: #E588A0;
$schedule-bg: #FFFFFF;
$contact-bg: #74C7AA;
$contact-bg-alt: #5A9C85;

$event-color: #F4DB8E;
$event-color-section: #EB6963;
$event-color-section-alt: #74C7AA;
$speakers-color: #E588A0;
$speakers-color-section: #F7DBD1;
$speakers-color-section-alt: #28387F;
$schedule-color: #F5B430;
$schedule-color-section: #F5B430;
$schedule-color-section-alt: #74C7AA;
$schedule-color-day-30: #EB6963;
$schedule-color-day-01: #74C7AA;
$schedule-color-day-02: #28387F;
$contact-color: #74C7AA;
$contact-color-section: #28387F;
$contact-color-section-alt: #fff;