<div class="contact-elements-1 animateme" data-when="view" data-from="0.5" data-to="0" data-translatey="-400" data-opacity="0" data-scale="0">
    {% include assets/contact-elements-1.svg %}
</div>
<div class="contact-elements-2 animateme" data-when="view" data-from="0.7" data-to="0.5" data-translatey="400" data-opacity="0" data-scale="0">
    {% include assets/contact-elements-2.svg %}
</div>
<div class="contact-staff animateme" data-when="view" data-from="0.95" data-to="0.8" data-translatey="300" data-opacity="0"></div>
<div class="contact-tree-1 animateme" data-when="view" data-from="0.9" data-to="0.7" data-translatey="1000"></div>
<div class="contact-tree-2 animateme" data-when="view" data-from="0.95" data-to="0.85" data-translatey="500"></div>
<div class="contact-tree-3 animateme" data-when="view" data-from="0.95" data-to="0.75" data-translatey="700"></div>

<h2 class="animateme" data-when="view" data-from="0.4" data-to="0" data-translatex="-1200">Contato</h2>
<div class="hr-box animateme" data-when="view" data-from="0.45" data-to="0" data-translatex="-1500"></div>
<nav class="animateme" data-when="view" data-from="0.5" data-to="0" data-translatex="1000">
    <a href="#o-evento">O Evento</a>
    <a href="#palestrantes">Palestrantes</a>
    <a href="#programacao">Programação</a>
</nav>

<div class="contact-mail animateme" data-when="view" data-from="0.5" data-to="0.2" data-translatex="-1500">
    <h3>Produção</h3>
    <a href="mailto:contatocolabora@cesar.org.br">contatocolabora@cesar.org.br</a>
</div>

<div class="contact-social animateme" data-when="view" data-from="0.6" data-to="0.3" data-translatex="-1500">
    <h3>Social</h3>
    <a href="https://www.facebook.com/events/1336309629811646/" title="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/designcesar/" title="Instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
</div>

<div class="face-4 animateme" data-when="view" data-from="0.6" data-to="0.3" data-translatex="-1000" data-scale="0" data-rotatez="-720" data-tilt>
    {% include assets/face-4.svg %}
</div>