<div class="event-elements-1 animateme" data-when="view" data-from="0.5" data-to="0" data-translatex="-1200">
    {% include assets/event-elements-1.svg %}
</div>
<div class="event-elements-2 animateme" data-when="view" data-from="0.5" data-to="0" data-translatey="1000">
    {% include assets/event-elements-2.svg %}
</div>
<div class="event-tree">
    {% include assets/event-tree.svg %}
</div>

<h2 class="animateme" data-when="view" data-from="0.4" data-to="0" data-translatex="1200">O Evento</h2>
<div class="hr-box animateme" data-when="view" data-from="0.45" data-to="0" data-translatex="1500"></div>
<nav class="animateme" data-when="view" data-from="0.5" data-to="0" data-translatex="1800">
    <a href="#palestrantes">Palestrantes</a>
    <a href="#programacao">Programação</a>
    <a href="#contato">Contato</a>
</nav>
<div class="text-box-1 animateme" data-when="view" data-from="0.5" data-to="0.2" data-translatex="200" data-opacity="0" data-tilt>
    <p>Em 5 de novembro de 2012 foi realizada no CESAR a primeira comemoração do Dia do Design, data que marca o aniversário de Aloísio Magalhães, designer e artista pernambucano. De lá pra cá anualmente a data era comemorada como um evento interno.</p>
</div>
<div class="text-box-2 animateme" data-when="view" data-from="0.5" data-to="0.3" data-translatex="-200" data-opacity="0" data-tilt>
    <p>Esse ano o evento ganha nome: Colabora! e ganha o mundo, sendo aberto como parte dos eventos que acontecerão no Bairro do Recife como parte do Rec’n’ Play.  Num diálogo direto com a sociedade, o evento trata da cidade, das lutas sociais, aplicações eletrônicas para produção de novos significados e outras discussões de forma crítica, ativa e, esperamos, divertida.</p>
</div>