<script src="{{ "/assets/js/vendor/jquery.scrollme.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/vendor/tilt.jquery.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/vendor/lethargy.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/vendor/EventEmitter.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/vendor/smartscroll.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>