<h1 class="brand" data-tilt>Colabora - Design, Pessoas e Experiências</h1>
<nav class="header-nav">
    <a href="#o-evento" class="header-nav__section header-nav__section--event">O Evento</a>
    <a href="#palestrantes" class="header-nav__section header-nav__section--speakers">Palestrantes</a>
    <a href="#programacao" class="header-nav__section header-nav__section--schedule">Programação</a>
    <a href="#contato" class="header-nav__section header-nav__section--contact">Contato</a>
</nav>
<div class="face-1" data-tilt>
    {% include assets/face-1.svg %}
</div>
<div class="face-2" data-tilt>
    {% include assets/face-2.svg %}
</div>
<div class="header-elements-1">
    {% include assets/header-elements-1.svg %}
</div>
<div class="header-elements-2">
    {% include assets/header-elements-2.svg %}
</div>
<div class="header-elements-3">
    {% include assets/header-elements-3.svg %}
</div>
<div class="header-elements-4">
    {% include assets/header-elements-4.svg %}
</div>
<div class="header-elements-5">
    {% include assets/header-elements-5.svg %}
</div>
<div class="home-tree">
    {% include assets/home-tree.svg %}
</div>
<div class="home-tree-after">
    {% include assets/home-tree-after.svg %}
</div>
