<div class="speakers-elements-1 animateme" data-when="view" data-from="0.3" data-to="0" data-translatex="-1200" data-rotatez="-180">
    {% include assets/speakers-elements-1.svg %}
</div>
<div class="speakers-elements-2 animateme" data-when="view" data-from="0.5" data-to="0.1" data-translatex="1200">
    {% include assets/speakers-elements-2.svg %}
</div>
<div class="speakers-elements-3 animateme" data-when="view" data-from="0.85" data-to="0.5" data-translatex="-1200" data-tilt>
    {% include assets/speakers-elements-3.svg %}
</div>
<div class="speakers-elements-4 animateme" data-when="view" data-from="0.9" data-to="0.6" data-translatey="500" data-tilt>
    {% include assets/speakers-elements-4.svg %}
</div>

<h2 class="animateme" data-when="view" data-from="0.4" data-to="0" data-translatex="-1200">Palestrantes</h2>
<div class="hr-box animateme" data-when="view" data-from="0.45" data-to="0" data-translatex="-1500"></div>
<nav class="animateme" data-when="view" data-from="0.5" data-to="0" data-translatex="-1800">
    <a href="#o-evento">O Evento</a>
    <a href="#programacao">Programação</a>
    <a href="#contato">Contato</a>
</nav>
<div class="soon">Em breve ;)</div>