.contact-elements-1 {
  width: vwCalc(118);
  height: vwCalc(276);
  position: absolute;
  right: vwCalc(140);
  top: vwCalc(121);
}
.contact-elements-2 {
  width: vwCalc(118);
  height: vwCalc(276);
  position: absolute;
  right: vwCalc(200);
  top: vwCalc(480);
}
.contact-tree-1 {
  background: url(../images/contact-tree.png) no-repeat 0 0 / auto 100%;
  width: vwCalc(325);
  height: vwCalc(370);
  position: absolute;
  left: vwCalc(63);
  bottom: vwCalc(-1);
}
.contact-tree-2 {
  background: url(../images/contact-tree.png) no-repeat 0 0 / auto 100%;
  width: vwCalc(163);
  height: vwCalc(165);
  position: absolute;
  left: vwCalc(312);
  bottom: vwCalc(-1);
}
.contact-tree-3 {
  background: url(../images/contact-tree.png) no-repeat 0 0 / auto 100%;
  width: vwCalc(205);
  height: vwCalc(217);
  position: absolute;
  right: vwCalc(98);
  bottom: vwCalc(-1);
}
.contact-staff {
  background: url(../images/staff.png) no-repeat 0 0 / auto 100%;
  width: vwCalc(758);
  height: vwCalc(209);
  position: absolute;
  left: vwCalc(218);
  bottom: vwCalc(160);
}
.face-4 {
  width: vwCalc(268);
  height: vwCalc(258);
  position: absolute;
  left: vwCalc(10);
  top: vwCalc(283);
}

.section-wrapper__section--contact {
  h2 {
    font-size: vwCalc(72);
    font-weight: 700;
    text-transform: uppercase;
    color: $contact-color-section;
    position: absolute;
    left: vwCalc(306);
    top: vwCalc(73);
    margin: 0;
  }
  .hr-box {
    width: vwCalc(1045);
    height: vwCalc(4);
    position: absolute;
    left: vwCalc(-320);
    top: vwCalc(167);
    background: $contact-color-section;
  }
  nav {
    position: absolute;
    right: vwCalc(200);
    top: vwCalc(73);
    a {
      font-size: vwCalc(24);
      font-weight: 700;
      text-transform: uppercase;
      color: $contact-color-section-alt;
      text-decoration: none;
      margin: 0 vwCalc(12);
      &:first-child {
        margin: 0 vwCalc(12) 0 0;
      }
      &:last-child {
        margin: 0 0 0 vwCalc(12);
      }
    }
  }

  .contact-mail {
    width: vwCalc(668);
    height: vwCalc(109);
    position: absolute;
    left: vwCalc(0);
    top: vwCalc(323);
    background: $contact-bg-alt;
    border-top-right-radius: vwCalc(40);
    box-sizing: border-box;
    padding: vwCalc(20) 0 0 vwCalc(320);
    h3 {
      font-size: vwCalc(24);
      font-weight: 700;
      text-transform: uppercase;
      margin: 0 0 vwCalc(10);
      color: $contact-color-section-alt;
    }
    a {
      font-size: vwCalc(24);
      font-weight: 400;
      text-decoration: none;
      margin: 0;
      color: $contact-color-section-alt;
    }
  }

  .contact-social {
    width: vwCalc(668);
    height: vwCalc(109);
    position: absolute;
    left: vwCalc(0);
    top: vwCalc(457);
    background: $contact-bg-alt;
    border-top-right-radius: vwCalc(40);
    box-sizing: border-box;
    padding: vwCalc(35) 0 0 vwCalc(320);
    h3 {
      font-size: vwCalc(24);
      font-weight: 700;
      text-transform: uppercase;
      display: inline-block;
      margin: 0 vwCalc(54) vwCalc(10) 0;
      color: $contact-color-section-alt;
    }
    a {
      font-size: vwCalc(32);
      font-weight: 400;
      text-decoration: none;
      margin: 0 vwCalc(10);
      color: $contact-color-section-alt;
    }
  }
}